$color-red: #f44344;
$color-black:#000;
$color-white-1: #e8e8e8;
$color-white-2: #f6f6f6;
$color-blue-black:#070b21;
$color-gray-black-1:#666;
$color-gray-black-2:#383838;
$color-gray-black-3:#787878;
$color-gray-black-4:#686868;
$color-gray-black-5:#999;
$color-gray-black-6:#828282;
$color-gray-black-7:#353535;
$color-overlay:rgba(0, 0, 0, 0.4);
$color-box-shadow:0px 3px 47px 0px rgba(0, 0, 0, 0.75);

//mixin with scss
